<div class="{% if page.hero_darken %} hero-darken {% endif %}">
<section class="{% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %}">
    <div class="hero is-fullheight">
        <div class="container">
            <div class="landinglogo">
                 <img src="{{ page.hero_image }}" alt="Company Logo" class="ilogo">
            </div>
            <nav class="navbar landing">
                <a class="nav-link landing" href="~/products">our services</a>
                <a class="nav-link landing" href="~/team">our team</a>
                <a class="nav-link landing" href="~/blog">what's next</a>
            </nav>
        </div>
    </div>
</section>
</div>


