div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}


.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}

.content {
    figure {
        margin: 0;
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.75rem;
    }
}

// Alpine.js hide on initial load
[x-cloak] { display: none !important; }

// team addition


.team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 60px;
    }
    }
    .team-meta {
    flex: 1;
    h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
    }
    p {
        color: rgba($hero-darken, 1);
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
    }
    }
    .team-content {
    margin-top: 20px;
    flex: 1 0 100%;
    }
}

.team-summary-large {
    background-color: rgba($hero-darken, 0.05);
    padding: 30px;
    border-radius: 3px;
    .team-image {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 90px;
    }
    }
}

  