---
---

$blue: #192A46;
$blue-invert: #fff;
$violet: #740558;

// --- navbar 

$navbar-height: 2.25rem;

$primary: $violet;
$primary-invert: $blue-invert;
// Import Main CSS file from theme


// makes menu band left bound.
.navbar-menu {
    flex-grow: 0 !important; 
}
// body gray fade
body {      
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(25, 42, 70, 0.3)), no-repeat center center fixed;
    background-size: cover;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .logo img {
    width: 40vw;
  }


@import "main";